DATABASE_URL=postgresql://pos_dev:pos_dev_123@localhost:5432/mantechq_pos
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DATABASE=mantechq_pos
POSTGRES_USER=pos_dev
POSTGRES_PASSWORD=pos_dev_123
